body {
  min-width: '80%'
}

table {
  width: 100%;
  table-layout: fixed;
}

.mat-column-index {
  width: 5% !important;
  text-align: center;
}

.mat-column-points {
  width: 10% !important;
  text-align: center;
}

.mat-column-flash {
  width: 10% !important;
  text-align: center;
}

.mat-column-top {
  width: 10% !important;
  text-align: center;
}
