<table mat-table [dataSource]="teams" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
      {{element.Name}}
      <!--<a fxFlexFill [routerLink]="'/teams/'+element.Id" class="mat-row-link"></a>-->
    </td>
  </ng-container>

  <ng-container matColumnDef="member1">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.Member1}} </td>
  </ng-container>

  <ng-container matColumnDef="member2">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.Member2}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/teams/'+row.Id"></tr>
</table>
