body {
  min-width: '80%'
}

table {
  width: 100%;
  table-layout: fixed;
}

.exp {
  margin-bottom: 10px !important;
}

/*.mat-column-name {
  width: 10% !important;
}

.mat-column-member1 {
  width: 10% !important;
}

.mat-column-member1 {
  width: 10% !important;
}*/

